@{
    ViewData["Title"] = "Checkout";
}
@model List<Spil>

<div class="text-center">
    @if (Model != null)
    {
        <div> Model exists</div>
        @foreach (Spil spil in Model)
        {
            <div>
                @spil.navn
            </div>
        }   
    }
</div>
