@{
    ViewData["Title"] = "Checkout";
}
@model List<Spil>

<div class="text-center">
    @if (Model != null)
    {
        double totalPris = 0;
        @foreach (Spil spil in Model)
        {
            totalPris += spil.pris;
            
            <div>
                @spil.navn
                <hr/>
            </div>
        }   
        <div>
            Fuld pris: @totalPris kr
        </div>
    }
</div>
