@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('/images/Logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>


<div class="text-center">
    <h1 class="display-4"></h1>
</div>