@{
    ViewData["Title"] = "Katalog";
}
@model List<Spil>

<style>
    .katalog {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .spil {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
</style>

<div>
    <div class="katalog">
    @foreach (Spil spil in Model)
    {
        <div class="spil">
            <h4 style="font-weight: bolder">@spil.navn</h4>
            <h6 style="font-weight: bold">@spil.pris DKK</h6>
            <p>@spil.kategori</p>
            <form method="POST" asp-action="BuyItem">
                <input type="hidden" name="spilId" value="@spil.id">
                <button class="button-style">Tilføj til kurv</button>
            </form>
        </div>
    }
    </div>
</div>