@{
    ViewData["Title"] = "Lager";
}

<h1>Tilføj et spil til lageret</h1>
<h4>Hvis du tør</h4>
<form>
    <input type="text" name="spilNavn" aria-label="Navn"></input>
    <input type="number" name="spilPris" aria-label="Pris"></input>
</form>
