@using PulterkammeretShop.Controllers
@{
    ViewData["Title"] = "Lager";
}

@if (!HomeController.EmployeeLoggedIn)
{
    <form method="POST" asp-action="LoginEmployee">
        <h6 style="font-weight: bold;">Brugernavn:</h6> 
        <input class="input-style"type="text" name="employeeUserName"></input>
        <h6 style="font-weight: bold;">Adgangskode:</h6> 
        <input class="input-style" type="text" name="employeePassword"></input><br/>
        <button class="button-style">Log in</button>
    </form>
}
else
{
    <h1 style="font-weight: bold;">Tilføj et spil til lageret</h1>
    <form method="POST" asp-action="AddToLager">
        <h6 style="font-weight: bold;">Navn</h6> 
        <input class="input-style"type="text" name="spilNavn"></input>
        <h6 style="font-weight: bold;">Pris</h6> 
        <input class="input-style" type="number" name="spilPris"></input>
        <h6 style="font-weight: bold;">Kategori:</h6> 
        <input class="input-style" type="text" name="spilKategori"></input><br/>
        <button class="button-style">Tilføj spil</button>
    </form>
}