@using PulterkammeretShop.Controllers

@{
    ViewData["Title"] = "SearchResult";
}
@model List<Spil>

    <div>
        <div class="ShowSearch">
            @foreach (Spil spil in Model)
            {
                <span>@spil.navn</span>
                <span>@spil.pris</span>
            }
        </div>
    </div>